.container {
    width: 500px;
    height: 200px;
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.pianoKey {
    width: 30px;
    height: 100px;
    background-color: blanchedalmond;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
}